.mailBtn {
    border: none;
    padding: 0;
}

.imgBtn {
    height: 25px
}

.list-group-item img {
    height: 25px;
    margin-right: 10px;
}

.delete {
    transition: ease-out 10s;
    display: none;
}

.deleteBtn {
    float: right;
    background: none;
    border: none;
}

.actives {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.strikethrough {
    color: white;
    background-color: tomato;
    text-decoration: line-through;
    transition: 0.3s;
}